<div class="container">
    <div class="row">
        <!-- Left menu-->
        <div class="col-md-7">
          <img src="/images/About.jpg" width="100%" height="auto" style="padding-top: 5px;">
        </div>
        <!--End Left Menu -->

        <!-- Right Menu -->
         <div class="col-md-5">
            <h3 class="about-header" style="padding-top: 0px; padding-bottom:10px;">Erica Peng</h3>
            <p>
              Born and raised in Gaithersburg, Maryland. Dangerously obsessed with food and always equipped an uncontrollable sweet tooth.
              Currently pursuing a Bachelor of Arts degree in Computer Science at New York University, but also constantly chasing after anything (and everything) that inspires her at any given moment.
              <br><br>
              Takes any chance to dive -hands first- into any opportunity to bring an idea into reality.
              A firm believer in working hard and doing one's best, after all, you are the only one who can make your dreams come true.
              <br><br>
              Self taught, always inspired, and never without a brimming ocean of enthusiasm.
            </p>

            <h3 class="about-header" style="padding-top: 10px; padding-bottom:10px;">Contact</h3>
            <p>etpeng9296@gmail.com</p>
        </div>
    </div>
</div>
