<!--<img src="/images/Home.jpg" style="width:80%; height:auto; right: 0px; position: fixed;" />-->
<img src="/images/Home.jpg" style="width:85%; height:auto; min-width: 400px; float: right;" />
<div id="home-header-div">
  <div class="row">
  <h1 class="home-header" id="homeheader"><b>ERICA PENG</b></h1></div>
  <p>CREATIVE / INSPIRED / DRIVEN</p>
</div>
