<!-- Add title and description. also resize photos -->
<h1 class="page-description text-center">A Passion for Patisserie</h1>
<h4 class="page-description">
  I started baking in elementary school when my sister and I made cookies for the first time, and I haven't been
  able to stop since. There's something irresistably fun about being able to completely design and create an
  experience from scratch: from deciding flavor combinations and textures, to plating and decorating to your heart's desire.
  <br><br>
  To me, patisserie is an art that is a feast for all of your senses. It holds a
  special place in my heart and I would like to invite you to take a glance at some of my creations.
</h4>
<div class="image-slider">
  {{#each photos}}
    <div><img src={{this}} class="sliderimg" /></div>
  {{/each}}
</div>
