<h1 class="text-center photography-description">Photography Explorations</h1>
<h4 class="photography-description">
  I love doing photoshoots with my friends whenever I find the time! It's the perfect chance to discover
  someplace new and capture the moment. Check out some of my photos from these adventures below:</h4>
<h2 class="photography-title text-center">Spring</h2>
<div class="centered-content">
  <img src='/images/Photography/spring1.jpg' class="photography-img" />
</div>
<div class="centered-content row">
  <div class="col-md-6">
    <img src='/images/Photography/bloom.jpg' class="photography-img" />
  </div>
  <div class="col-md-6">
    <img src='/images/Photography/botanical.jpg' class="photography-img" />
  </div>
</div>

<h2 class="photography-title text-center">Summer</h2>
<div class="centered-content">
  <img src='/images/Photography/walk.jpg' class="photography-img" />
</div>
<div class="centered-content row">
  <div class="col-md-6">
    <img src='/images/Photography/sunset.jpg' class="photography-img" />
  </div>
  <div class="col-md-6">
    <img src='/images/Photography/candid.jpg' class="photography-img" />
  </div>
</div>

<h2 class="photography-title text-center">Winter</h2>
<div class="centered-content">
  <img src='/images/Photography/winter1.jpg' class="photography-img" />
</div>
<div class="centered-content row">
  <div class="col-md-6">
    <img src='/images/Photography/winter2.jpg' class="photography-img" />
  </div>
  <div class="col-md-6">
    <img src='/images/Photography/winter3.jpg' class="photography-img" />
  </div>
</div>
